langgraph
langchain
typing_extensions
torch
transformers
pillow
ultralytics
torchvision
scikit-learn
opencv-python
fastapi
uvicorn
python-dotenv
python-multipart
pandas
openpyxl
streamlit
requests
langchain_mistralai
faiss-cpu